body{
    background-color: #393939;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button{
    background-color: blueviolet;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 999px;
    font-size: 20px;
    border: 2px solid blueviolet;
    cursor: pointer;
}

button:hover{
    background-color: transparent;
    border: 2px solid blueviolet;
}