*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #ddd;
    height: 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    gap: 5px;
}

nav a:hover{
    opacity: 1;
}

#s1{
    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#s2{
    min-height: 100vh;
    padding-top: 80px;
    background-color: rgb(33, 150, 213);
}

#s3{
    min-height: 100vh;
    padding-top: 80px;
    background-color: rgb(17, 40, 193);
}

#s4{
    min-height: 100vh;
    padding-top: 80px;
    background-color: rgb(163, 102, 66);
}